.center{
    text-align: center;
}

.red{
    background: red;
}

.auto{
    margin: auto;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}


.item-center{
    align-items: center;
}