body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
  }

/* 
div{
   
} */

.top{
    position: relative;
    padding-top: 150px;
    background-color: #E4F9f5;
}
.top-cloud{
    position: absolute;
    right: 345px;
    top: 68px;

}
.pro{
    text-decoration: underline;
}
.bottom-cloud{
    position: absolute;
    left: 230px;
}
.mountain{
    opacity: 80%;
}
.top-h1{
    font-family: 'Sacramento', cursive;
    font-size: 2.5rem;
    margin: 50px auto 0  auto;
    color: #66BFBF;
}
.p{
    font-size: xx-large;
}

.middle{
  
   padding-top: 100px;
}
.h1-b{
    padding-top: 50px;
    padding-bottom: 2rem;
    color: #66BFBF;
}

.bottom{
   
    padding-top: 100px;
    padding-bottom: 100px;
}
.h1-c{
    color: #66BFBF;
    padding-bottom: 4rem;
}
.design{
    text-align: left;
    padding-bottom: 150px;
    margin: 100px;
}
.computer{
    float: left;
    padding-right: 50px;
    padding-left: 20px;
    text-align: center;
}
p{
    line-height: 2;
    padding-right: 10px;
}
.chilli{
    width:20%;
    float: right;
    padding-left: 30px;
}

.hot{
    text-align: left;
    padding-bottom: 100px;
    margin: 100px;
}

h2, h3{
    color: #66BFBF;
}
div h2 h3{
    color: #66BFBF;
}
.contact-message{
    margin: 40px;
}
.btn{
    font-size: x-large;
    color: white;
    background-color: #66BFBF;
    border-radius: 5px;
    margin-bottom: 100px;
}
.btn:hover{
    color: black;
    background-color: red;
    font-size: xx-large;
}
.bottom-container{
    background-color:#66BFBF;
    
    padding: 50px 0px 50px 0px;
}
.footer-link{
    text-decoration: none;
    padding: 20px;
}
.footer-link:hover{
    color: red;
}
.copyright{
    color:white;
    font-size: x-small;
    padding-top:30px;
}