*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}
.container{
   
    height: 100vh;
}

.left{
    margin-top: 100px;
    
    width: 400px;
    padding-top: 100px;
}

img{
    width: 100px;
    height: 200px;
}

.right{
    margin-top: 200px;
}

.right table tr td{
    border: 2px solid black;
}

table{
    margin-top:100px;
    /* margin-left: 50px; */
    width: 400px;
}

.left input{
    width: 400px;
}

img{
    position: absolute;
    margin: 297px;
    margin-left: 600px;
    display: none;

}

h2{
    position: absolute;
    padding-top:300px;
    margin: 300px;
    margin-left: 650px;
    
    color: crimson;
    display: none;
}